.blogs-container {
  width: 100%;
  height: auto;
}

.blogs-container .blogs-section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blogs-container .blogs-section h2 {
  color: #464545;
  border-bottom: 3px solid #F6861F;
  padding: 0.3rem;
}

.blogs-container .blogs-section .blogs-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blogs-container .blogs-section .blogs-content .section1 {
  width: 40%;
  padding: 2%;
}

.blogs-container .blogs-section .blogs-content .section1 img {
  width: 100%;
}

.blogs-container .blogs-section .blogs-content .section2 {
  width: 60%;
}

.blogs-container .blogs-section .blogs-content .section2 .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogs-container .blogs-section .blogs-content .section2 .cards .box {
  width: 96%;
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blogs-container .blogs-section .blogs-content .section2 .cards .box button {
  margin: 2%;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  padding: 8.8px 24.5px;
  border-radius: 5px;
  background-color: #3685c3;
  border: 2px solid #3685c3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.blogs-container .blogs-section .blogs-content .section2 .cards .box button:hover {
  background-color: white;
  color: #3685c3;
}

.blogs-container .blogs-section .blogs-content .section2 .cards .box button:focus {
  border: 2px solid #3685c3;
  outline: none;
}

.blogs-container .review {
  width: 100%;
  height: auto;
  position: relative;
}

.blogs-container .review .img-box {
  width: 100%;
  margin: auto;
  text-align: center;
}

.blogs-container .review .img-box img {
  width: 60%;
}

.blogs-container .review .testimonial {
  max-width: 360px;
  height: auto;
  padding: 2% 1%;
  position: absolute;
  top: 10%;
  left: 20%;
  -webkit-box-shadow: 3px 3px 10px 1px #29292994;
          box-shadow: 3px 3px 10px 1px #29292994;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blogs-container .review .testimonial h4 {
  font-size: 16px;
  margin-bottom: 0.4rem;
}

.blogs-container .review .testimonial p {
  margin-bottom: 0.4rem;
  font-size: 10px;
}

.blogs-container .review .testimonial .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 50%;
}

.blogs-container .review .testimonial .profile .img-box {
  width: 64px;
  height: 64px;
  margin-right: 0.6rem;
}

.blogs-container .review .testimonial .profile .img-box img {
  width: 100%;
  height: 100%;
}

.blogs-container .explore {
  width: 100%;
  padding: 2% 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs-container .explore p {
  width: 50%;
  font-size: 2rem;
  color: #3685c3;
}

.blogs-container .explore button {
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  padding: 8.8px 24.5px;
  border-radius: 5px;
  background-color: #3685c3;
  border: 2px solid #3685c3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.blogs-container .explore button:hover {
  background-color: white;
  color: #3685c3;
}

.blogs-container .explore button:focus {
  border: 2px solid #3685c3;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .blogs-container {
    width: 100%;
    height: auto;
  }
  .blogs-container .blogs-section {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 6%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blogs-container .blogs-section h2 {
    color: #464545;
    border-bottom: 3px solid #F6861F;
    padding: 0.3rem;
  }
  .blogs-container .blogs-section .blogs-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogs-container .blogs-section .blogs-content .section1 {
    width: 100%;
    padding: 2%;
    text-align: center;
  }
  .blogs-container .blogs-section .blogs-content .section1 img {
    width: 70%;
  }
  .blogs-container .blogs-section .blogs-content .section2 {
    width: 100%;
  }
  .blogs-container .blogs-section .blogs-content .section2 .cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blogs-container .blogs-section .blogs-content .section2 .cards .box {
    width: 96%;
    margin: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .blogs-container .blogs-section .blogs-content .section2 .cards .box button {
    margin: 2%;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 8.8px 24.5px;
    border-radius: 5px;
    background-color: #3685c3;
    border: 2px solid #3685c3;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  .blogs-container .blogs-section .blogs-content .section2 .cards .box button:hover {
    background-color: white;
    color: #3685c3;
  }
  .blogs-container .blogs-section .blogs-content .section2 .cards .box button:focus {
    border: 2px solid #3685c3;
    outline: none;
  }
  .explore {
    width: 100%;
    padding: 2% 8%;
    margin: 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .explore p {
    width: 50%;
    font-size: 32px;
  }
  .explore button {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 8.8px 24.5px;
    border-radius: 5px;
    background-color: #3685c3;
    border: 2px solid #3685c3;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  .explore button:hover {
    background-color: white;
    color: #3685c3;
  }
  .explore button:focus {
    border: 2px solid #3685c3;
    outline: none;
  }
}

@media only screen and (max-width: 425px) {
  .blogs-container {
    width: 100%;
    height: auto;
  }
  .blogs-container .review {
    width: 100%;
    height: auto;
    position: relative;
  }
  .blogs-container .review .img-box {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .blogs-container .review .img-box img {
    width: 80%;
  }
  .blogs-container .review .testimonial {
    width: 320px;
    padding: 2% 1%;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-shadow: 3px 3px 10px 1px #292929b0;
            box-shadow: 3px 3px 10px 1px #292929b0;
    background-color: #000000b9;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blogs-container .review .testimonial h4 {
    font-size: 16px;
    margin-bottom: 0.4rem;
    color: #b3b3b3;
  }
  .blogs-container .review .testimonial p {
    margin-bottom: 0.4rem;
    font-size: 10px;
    color: white;
  }
  .blogs-container .review .testimonial .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 50%;
  }
  .blogs-container .review .testimonial .profile .img-box {
    width: 64px;
    height: 64px;
    border-radius: 4px;
  }
  .blogs-container .review .testimonial .profile .img-box img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  .blogs-container .explore {
    width: 100%;
    padding: 2% 8%;
    margin: 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blogs-container .explore p {
    width: 100%;
    font-size: 24px;
    margin-bottom: 8px;
  }
  .blogs-container .explore button {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 8.8px 24.5px;
    border-radius: 5px;
    background-color: #3685c3;
    border: 2px solid #3685c3;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  .blogs-container .explore button:hover {
    background-color: white;
    color: #3685c3;
  }
  .blogs-container .explore button:focus {
    border: 2px solid #3685c3;
    outline: none;
  }
}

@media only screen and (min-width: 1441px) {
  .blogs-container .blogs-section h2 {
    font-size: calc(2.5rem);
  }
  .blogs-container .blogs-section .blogs-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blogs-container .blogs-section .blogs-content .section2 {
    width: 60%;
  }
  .blogs-container .blogs-section .blogs-content .section2 .cards {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blogs-container .blogs-section .blogs-content .section2 .cards .box {
    width: 96%;
    margin: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .blogs-container .blogs-section .blogs-content .section2 .cards .box button {
    font-size: 1.2rem;
  }
  .blogs-container .review {
    width: 100%;
    height: auto;
    position: relative;
  }
  .blogs-container .review .img-box {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .blogs-container .review .img-box img {
    width: 50%;
  }
  .blogs-container .review .testimonial {
    max-width: 720px;
    height: auto;
    padding: 2% 1%;
    position: absolute;
    top: 10%;
    left: 20%;
    -webkit-box-shadow: 3px 3px 10px 1px #29292994;
            box-shadow: 3px 3px 10px 1px #29292994;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blogs-container .review .testimonial h4 {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  .blogs-container .review .testimonial p {
    margin-bottom: 0.4rem;
    font-size: 1.2rem;
  }
  .blogs-container .review .testimonial .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    width: 50%;
  }
  .blogs-container .review .testimonial .profile .img-box {
    width: 64px;
    height: 64px;
    margin-right: 0.6rem;
  }
  .blogs-container .review .testimonial .profile .img-box img {
    width: 100%;
    height: 100%;
  }
  .blogs-container .explore {
    width: 100%;
    padding: 5% 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blogs-container .explore p {
    width: 50%;
    font-size: 2rem;
    color: #3685c3;
  }
  .blogs-container .explore button {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=BlogSection.css.map */