.alert-enter {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  -webkit-transform: translateX(12px);
          transform: translateX(12px);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
}

.position-container {
  width: 92%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8%;
  margin: 4%;
  position: relative;
}

.accordion {
  background-color: #eee;
  border: 1px solid #333;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
}

.accordion:hover {
  border: none;
  outline: none;
  background-color: #cecece;
  color: #444;
}

.accordion:focus {
  border: none;
  outline: none;
  color: #eee;
  background-color: #444;
}

.careerContent {
  padding: 2% 4%;
  background-color: #b1b1b1;
}

.careerContent button {
  margin-top: 2%;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  padding: 8.8px 24.5px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #3685c3;
  border: 2px solid #3685c3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.careerContent button:hover {
  background-color: white;
  color: #3685c3;
}

.careerContent button:focus {
  border: 2px solid #3685c3;
  outline: none;
}

@media only screen and (min-width: 1441px) {
  .alert-enter {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    transition: opacity 300ms, -webkit-transform 300ms;
    transition: opacity 300ms, transform 300ms;
    transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    transition: opacity 300ms, -webkit-transform 300ms;
    transition: opacity 300ms, transform 300ms;
    transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  }
  .position-container {
    width: 92%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 8%;
    margin: 4%;
  }
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
    outline: none;
    font-size: 1.5rem;
  }
  .accordion:hover {
    border: none;
    outline: none;
    background-color: #cecece;
    color: #444;
  }
  .accordion:focus {
    border: none;
    outline: none;
    color: #eee;
    background-color: #444;
  }
  .careerContent {
    padding: 2% 4%;
    background-color: #b1b1b1;
  }
  .careerContent p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=CareerPosition.css.map */