.link-active {
  color: white !important;
  background-color: #333333;
}

.Nav-Container {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4% 8%;
}

.Nav-Container .Logo {
  width: 135px;
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Nav-Container .Logo .ham {
  display: none;
  width: 100%;
  height: auto;
}

.Nav-Container .Logo .logo_img {
  width: 100%;
  height: 100%;
}

.Nav-Container .navbar {
  overflow: hidden;
  -webkit-animation: navAnim 0.8s ease-out;
          animation: navAnim 0.8s ease-out;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.Nav-Container .open {
  overflow: hidden;
  -webkit-animation: navAnim 0.8s ease-out;
          animation: navAnim 0.8s ease-out;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.open .nav-links {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  color: gray;
  -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.navbar .nav-links {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  color: gray;
  -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: gray;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-links:hover,
.dropdown:hover .dropbtn {
  color: white;
  background-color: #333333;
}

.open .nav-links:hover,
.dropdown:hover .dropbtn {
  color: white;
  background-color: #333333;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.35);
  z-index: 1333;
  border-radius: 6px;
  -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dropdown-content .nav-links {
  float: none;
  color: gray;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content .nav-links:hover {
  background-color: #ddd;
  color: #333333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Button button {
  color: #3685c3;
  border: none;
  outline: none;
  color: gray;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Button .navbar .nav-links:hover,
.Button .dropdown:hover .dropbtn {
  color: white;
  background-color: #3685c3;
}

.Button .open .nav-links:hover,
.Button .dropdown:hover .dropbtn {
  color: white;
  background-color: #3685c3;
}

.Button .dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.35);
  z-index: 1333;
  border-radius: 6px;
  -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.Button .dropdown-content .nav-links {
  float: none;
  color: gray;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.Button .dropdown-content .nav-links:hover {
  background-color: #ddd;
  color: #3685c3;
}

.Button .dropdown:hover .dropdown-content {
  display: block;
}

.Button .Button button {
  color: #3685c3;
  border: none;
  outline: none;
  padding: 8.8px 24.5px;
  border-radius: 5px;
  border: 2px solid #3685c3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
  background-color: white;
}

.Button .Button button:hover {
  color: white;
  background-color: #3685c3;
}

.Button .Button button:focus {
  border: 2px solid #3685c3;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .link-active {
    background-color: white !important;
    color: #333333 !important;
  }
  .Nav-Container {
    width: 100%;
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2% 8%;
  }
  .Nav-Container .Logo {
    width: 128px;
    height: 128px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .Nav-Container .Logo .ham {
    display: block;
    width: 100%;
    height: auto;
  }
  .Nav-Container .Logo .logo_img {
    width: 100%;
    height: 100%;
  }
  .Nav-Container .navbar {
    position: fixed;
    z-index: 9;
    width: 75vw;
    height: 100vh;
    background-color: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 0 0 10px 2px #00000091;
            box-shadow: 0 0 10px 2px #00000091;
  }
  .Nav-Container .open {
    position: fixed;
    z-index: 9;
    width: 75vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 0%;
    right: -100%;
    background-color: #333333;
  }
  .Nav-Container .navbar .nav-links {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-bottom: 1.2rem;
    -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .Nav-Container .open .nav-linksa {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: gray;
    -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .Nav-Container .dropdown {
    float: left;
    margin-bottom: 1.2rem;
    overflow: hidden;
  }
  .Nav-Container .dropdown .dropbtn {
    cursor: pointer;
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .Nav-Container .navbar .nav-links:hover,
  .Nav-Container .dropdown:hover .dropbtn {
    background-color: white;
    border-radius: 4px;
    color: #333333;
  }
  .Nav-Container .open .nav-links:hover,
  .Nav-Container .dropdown:hover .dropbtn {
    background-color: white;
    color: #333333;
  }
  .Nav-Container .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    -webkit-box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.35);
    z-index: 11;
    border-radius: 6px;
    -webkit-transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .Nav-Container .dropdown-content .nav-links {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .Nav-Container .dropdown-content .nav-links:hover {
    background-color: #ddd;
    color: #333333;
  }
  .Nav-Container .dropdown:hover .dropdown-content {
    display: block;
  }
  .Nav-Container .Button button {
    color: #3685c3;
    border: none;
    outline: none;
    padding: 6.8px 16.5px;
    border-radius: 5px;
    border: 2px solid #3685c3;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  .Nav-Container .Button button:hover {
    color: white;
    background-color: #3685c3;
  }
  .Nav-Container .Button button:focus {
    border: 2px solid #3685c3;
    outline: none;
  }
}

@media only screen and (min-width: 1441px) {
  .Nav-Container .Logo {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  .Nav-Container .open .nav-links {
    font-size: 1.2rem;
    padding: 14px 16px;
  }
  .Nav-Container .navbar .nav-links {
    padding: 14px 16px;
    font-size: 1.2rem;
  }
  .Nav-Container .dropdown .dropbtn {
    padding: 14px 16px;
    font-size: 1.2rem;
  }
  .Nav-Container .Button button {
    color: #333333;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 8.8px 24.5px;
    border-radius: 5px;
    border: 2px solid #333333;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color: white;
  }
  .Nav-Container .Button button:hover {
    color: white;
    background-color: #333333;
  }
  .Nav-Container .Button button:focus {
    border: 2px solid #333333;
    outline: none;
  }
}
/*# sourceMappingURL=Navigation.css.map */