.ServiceTools-Container {
  width: 100%;
  height: auto;
}

.ServiceTools-Container .ServiceTools-Section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 8%;
}

.ServiceTools-Container .ServiceTools-Section h3 {
  color: #565656;
  font-weight: bold;
}

.ServiceTools-Container .ServiceTools-Section .features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ServiceTools-Container .ServiceTools-Section .features .box {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ServiceTools-Container .ServiceTools-Section .features .box .img-box {
  width: 64px;
  height: 64px;
}

.ServiceTools-Container .ServiceTools-Section .features .box .img-box img {
  width: 100%;
  height: 100%;
}

.ServiceTools-Container .ServiceTools-Section .features .box h4 {
  margin-top: 0.4rem;
  font-size: 14px;
  font-weight: bold;
}

.ServiceTools-Container .ServiceTools-Section .features .box p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
}

@media only screen and (max-width: 425px) {
  .ServiceTools-Container {
    width: 100%;
    height: auto;
  }
  .ServiceTools-Container .ServiceTools-Section {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10% 0;
    padding: 0 8%;
  }
  .ServiceTools-Container .ServiceTools-Section h3 {
    color: #565656;
    font-weight: bold;
  }
  .ServiceTools-Container .ServiceTools-Section .features {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1.5rem 0;
  }
  .ServiceTools-Container .ServiceTools-Section .features .box {
    width: 46%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ServiceTools-Container .ServiceTools-Section .features .box .img-box {
    width: 64px;
    height: 64px;
  }
  .ServiceTools-Container .ServiceTools-Section .features .box .img-box img {
    width: 100%;
    height: 100%;
  }
  .ServiceTools-Container .ServiceTools-Section .features .box h4 {
    margin-top: 0.4rem;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .ServiceTools-Container .ServiceTools-Section .features .box p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1441px) {
  .ServiceTools-Container .ServiceTools-Section h3 {
    font-size: 2.5rem;
  }
  .ServiceTools-Container .ServiceTools-Section .features .box .img-box {
    width: calc(128px);
    height: calc(128px);
  }
  .ServiceTools-Container .ServiceTools-Section .features .box h4 {
    font-size: 1.5rem;
  }
  .ServiceTools-Container .ServiceTools-Section .features .box p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=ServiceTool.css.map */