.work-container {
    width: 100%;
    height: auto;

    .work-section {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 8%;
        flex-direction: column;

        // background-color: aqua;
        h2 {
            color: #464545;
            // border-bottom: 3px solid #F6861F;
            position: relative;
            padding: 0.3rem;

            &::after {
                position: absolute;
                content: '';
                width: 60%;
                height: 3px;
                background-color: #F6861F;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .work-box {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;

            .description {
                width: 60%;
                padding: 1rem 5rem;

                h3 {
                    color: #202020;
                    font-size: 1.5rem;
                    margin-bottom: 0.6rem;
                }

                p {
                    color: #707070;
                    // font-size: 12px;
                    font-size: 1rem;
                    line-height: 32px;
                    margin-bottom: 0.6rem;

                }

                a {
                    color: #F6861F;
                    text-decoration: none;
                    font-size: 0.8rem;
                }
            }

            .img-box {
                width: 40%;
                padding: 1rem 2rem;

                img {
                    width: 100%;
                }
            }
        }
    }

    .explore {
        width: 100%;
        padding: 2% 8%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        p {
            width: 50%;
            font-size: 2rem;
        }

        button {
            cursor: pointer;
            border: none;
            outline: none;
            color: white;
            padding: 8.8px 24.5px;
            border-radius: 5px;
            background-color: #3685c3;
            border: 2px solid #3685c3;
            transition: 0.3s ease-in;
            font-size: 1rem;

            &:hover {
                background-color: white;
                color: #3685c3;

            }

            &:focus {
                border: 2px solid #3685c3;

                outline: none;

            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .work-container {
        width: 100%;
        height: auto;

        .work-section {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;

            padding: 2% 8%;
            flex-direction: column;

            // background-color: aqua;
            h2 {
                color: #464545;
                // border-bottom: 3px solid #F6861F;
                position: relative;
                padding: 0.3rem;
                margin-bottom: 5%;

                &::after {
                    position: absolute;
                    content: '';
                    width: 60%;
                    height: 3px;
                    background-color: #F6861F;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .work-box {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column-reverse;
                position: relative;

                &:nth-of-type(even) {
                    flex-direction: column;
                }

                .description {
                    width: 100%;
                    padding: 5% 0;
                    height: auto;
                    
                    h3 {
                        color: #363636;
                        font-size: 1.2rem;
                        margin-bottom: 0.6rem;
                        overflow-y: hidden;
                    }

                    p {
                        color: #212529;
                        font-size: 1rem;
                        line-height: 20px;
                        margin-bottom: 0.6rem;
                        overflow-y: hidden;
                    }

                    a {
                        color: #F6861F;
                        text-decoration: none;
                        font-size: 1rem;
                    }
                }

                .img-box {
                    width: 100%;
                    padding: 1% 2%;
                    position: relative;

                    // }

                    img {
                        width: 100%;

                    }
                }
            }
        }

        .explore {
            width: 100%;
            padding: 2% 8%;
            margin: 5% 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            p {
                width: 60%;
                font-size: 24px;
            }
        }
    }
}

@media only screen and (max-width: 435px) {
    .work-container {
        width: 100%;
        height: auto;
        

        .work-section {
            width: 100%;
            height: auto;
            margin-top: 5%;
        }

        .explore {
            width: 100%;
            padding: 2% 8%;
            margin: 5% 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;

            p {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media only screen and (min-width: 1441px) {
    .work-container {

        .work-section {

            h2 {
                font-size: calc(2rem + 2vh);
            }

            .work-box {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;

                .description {


                    h3 {
                        color: #202020;
                        font-size: calc(1.5rem + 2vh);
                        margin-bottom: 0.6rem;
                    }

                    p {
                        color: #707070;
                        font-size: calc(1rem + 2vh);
                        line-height: inherit;
                        margin-bottom: 0.6rem;

                    }

                    a {
                        color: #F6861F;
                        text-decoration: none;
                        font-size: calc(0.8rem + 2vh);

                    }
                }

            }
        }

        .explore {
            width: 100%;
            padding: 2% 8%;
            margin: 5% 0 0 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            p {
                width: 50%;
                font-size: 2rem;
            }

            button {
                font-size: 1.2rem;
            }
        }
    }
}

@media only screen and (min-width: 1441px) {
    .work-container {
        .work-section {
            h2 {
                font-size: 2.5rem;
            }

            .work-box {

                .description {


                    h3 {
                        font-size: 2rem;
                    }

                    p {
                        font-size: 1.2rem;
                        line-height: 2rem;
                    }

                    a {
                        font-size: 1.2rem;

                    }
                }
            }
        }

        .explore {
            p {
                width: 60%;
                font-size: 2rem;
            }

            button {
                font-size: 1.2rem;
            }
        }
    }
}