.tools-container {
    width: 100%;
    height: auto;

    .tools-section {
        width: 100%;
       min-height: 100vh;
        display: flex;
        align-items: center;
        // justify-content: center;
        padding: 0 8%;
        flex-direction: column;
        .heading{

        h2 {
            color: #464545;
            border-bottom: 3px solid #F6861F;
            padding: 0.3rem;
        }}
        .tools-content{
            width: 80%;
            height: auto;
            margin: auto;
            display: flex;
            justify-content: space-around;
            .box{
                display: flex;
                flex-direction: column;
                align-items: center;
                .circle{
                    width: 200px;
                    height: 200px;
                    border-radius: 100px;
                    background-color:#E5E5E5;
                }
                h3{
                    color: #3685C3;
                    padding: 1rem;
                    font-size: 2rem;
                }
                p{
                    color: #565656;
                    font-size: 1rem;
                }
            }
        }
    }}
@media only screen and (max-width: 425px) {
.tools-container {

    .tools-section {
        width: 100%;
        height: auto;

        .tools-content {
            width: 80%;
            height: auto;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .box {
                display: flex;
                flex-direction: column;
                align-items: center;
padding: 8%;
                .circle {
                    width: 200px;
                    height: 200px;
                    border-radius: 100px;
                    background-color: #E5E5E5;
                }

                h3 {
                    color: #3685C3;
                    padding: 1rem;
                }

                p {
                    color: #565656;
                }
            }
        }
    }
}
}
@media only screen and (min-width: 1441px) {
    .tools-container {

        .tools-section {
            .heading {

                h2 {
                                  font-size:calc(2rem + 2vh)
                }
            }

            .tools-content {
                .box {


                    h3 {
                                  font-size:calc(2rem +2vh);
                    }

                    p {
                        font-size: calc(1rem + 2vh);
                    }
                }
            }
        }
    }
}
