.blogCard-container{
    width: 46%;
    margin: 2%;
    h3{
        color: #202020;
        font-size: 1.5rem;
        margin-bottom: 0.4rem;

    }
    p{
        color: #505050;
        font-size: 1rem;
        margin-bottom: 0.4rem;

    }
    a{
        text-decoration: none;
        color:#F6861F;
        font-size:0.8rem;

    }
}
@media only screen and (max-width: 768px) {
    .blogCard-container {
        width: 96%;
        margin: 2%;
        margin-bottom: 10%;
        h3 {
            color: #202020;
            font-size: 1.2rem;
            margin-bottom: 0.4rem;

        }

        p {
            color: #505050;
            font-size: 1rem;
            margin-bottom: 0.4rem;

        }

        a {
            text-decoration: none;
            color: #F6861F;
            font-size: 1rem;

        }
    }
}
@media only screen and (min-width: 1441px) {
.blogCard-container {
    h3 {
        font-size: 2rem;


    }

    p {
        font-size: 1.2rem;

    }

    a {
        font-size: 1.2rem;


    }
}
}