.Home-Container {
    width: 100%;
    height: auto;

    .Home-Section {
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        padding: 0 8%;

        .section1 {
            width: 40%;
            height: 100%;
            // background-color: aqua;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .heading {

                // border: 2px solid red;
                h1 , h3{
                    font-size: 2rem;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    // line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #464545;
                }

                p {
                    margin-top: 4%;
                    font-size: 1rem;
                    padding-right: 12%;

                }

                button {
                    margin-top: 4%;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    color: white;
                    padding: 8.8px 24.5px;
                    font-size: 1rem;
                    border-radius: 5px;
                    background-color: #3685c3;
                    border: 2px solid #3685c3;
                    transition: 0.3s ease-in;

                    &:hover {
                        background-color: white;
                        color: #3685c3;
                    }

                    &:focus {
                        border: 2px solid #3685c3;
                        outline: none;
                    }
                }
            }
        }

        .section2 {
            width: 55%;
            height: 100%;
            // background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0%;

            .img-box {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .section3 {
            width: 5%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            // align-items: center;
            span {
                width: 100%;
                padding: 0.4rem;
                margin-top: 1rem;
                // background-color: aquamarine;
                text-align: center;

                a {
                    color: #464545;

                    &:hover i {
                        color: #3685c3;
                    }

                    i {
                        transition: 0.4s ease-out;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .Intro {
        width: 100%;
        min-height: 90vh;
        display: flex;
        align-items: center;
        padding: 0 8%;

        .section1 {
            width: 50%;
            height: 100%;
            // background-color: aqua;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .heading {

                // border: 2px solid red;
                h1, h3 {
                    font-size: 2rem;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    // line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #464545;
                }

                p {
                    margin-top: 4%;
                    font-size: 1rem;
                    text-align: justify;
                }

            }
        }

        .section2 {
            width: 50%;
            height: 100%;
            // background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2%;

            .img-box {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .Home-Container {
        .Home-Section {
            height: auto;
            flex-direction: column;

            .section1 {
                width: 100%;
                height: 100%;
            }

            .section2 {
                width: 100%;
                height: auto;

                .img-box {
                    width: 100%;
                    height: auto;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .section3 {
                width: 100%;
                height: auto;
                flex-direction: row;
            }
        }

        .Intro {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .section1 {
                width: 100%;
                height: auto;
                // background-color: aqua;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .heading {
                    h1, h3 {
                        font-size: 24px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        // line-height: 1.33;
                        letter-spacing: normal;
                        text-align: left;
                        color: #464545;
                    }

                    p {
                        margin-top: 4%;
                        font-size: 12px;
                    }
                }
            }

            .section2 {
                width: 100%;
                height: auto;
                // background-color: aqua;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2%;

                .img-box {
                    width: 380px;
                    height: 380px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1441px) {
    .Home-Container {
        .Home-Section {
            min-height: 90vh;

            .section1 {
                .heading {
                    h1, h3 {
                        font-size: 2.5rem;
                    }

                    p {

                        font-size: 1.2rem;


                    }

                    button {
                        font-size: 1.2rem;

                    }
                }
            }

            .section2 {
                width: 55%;
                height: 100%;
                // background-color: aqua;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0%;

                .img-box {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .section3 {
                width: 5%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                // align-items: center;
                span {
                    width: 100%;
                    padding: 0.4rem;
                    margin-top: 4rem;
                    // background-color: aquamarine;
                    text-align: center;

                    a {
                        color: #464545;

                        &:hover i {
                            color: #3685c3;
                        }

                        i {
                            transition: 0.4s ease-out;
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }

        .Intro {


            .section1 {


                .heading {

                    h1, h3 {
                        font-size: 2.5rem;

                    }

                    p {
                        margin-top: 4%;
                        font-size: 1.2rem;
                    }

                }
            }

            .section2 {


                .img-box {
                    width: 100%;
                    height: 100%;



                }
            }
        }

    }
}