.Home-Container {
  width: 100%;
  height: auto;
}

.Home-Container .Home-Section {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8%;
}

.Home-Container .Home-Section .section1 {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Home-Container .Home-Section .section1 .heading h1, .Home-Container .Home-Section .section1 .heading h3 {
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #464545;
}

.Home-Container .Home-Section .section1 .heading p {
  margin-top: 4%;
  font-size: 1rem;
  padding-right: 12%;
}

.Home-Container .Home-Section .section1 .heading button {
  margin-top: 4%;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  padding: 8.8px 24.5px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #3685c3;
  border: 2px solid #3685c3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.Home-Container .Home-Section .section1 .heading button:hover {
  background-color: white;
  color: #3685c3;
}

.Home-Container .Home-Section .section1 .heading button:focus {
  border: 2px solid #3685c3;
  outline: none;
}

.Home-Container .Home-Section .section2 {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0%;
}

.Home-Container .Home-Section .section2 .img-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Home-Container .Home-Section .section2 .img-box img {
  width: 100%;
  height: 100%;
}

.Home-Container .Home-Section .section3 {
  width: 5%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Home-Container .Home-Section .section3 span {
  width: 100%;
  padding: 0.4rem;
  margin-top: 1rem;
  text-align: center;
}

.Home-Container .Home-Section .section3 span a {
  color: #464545;
}

.Home-Container .Home-Section .section3 span a:hover i {
  color: #3685c3;
}

.Home-Container .Home-Section .section3 span a i {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  font-size: 1.5rem;
}

.Home-Container .Intro {
  width: 100%;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8%;
}

.Home-Container .Intro .section1 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Home-Container .Intro .section1 .heading h1, .Home-Container .Intro .section1 .heading h3 {
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #464545;
}

.Home-Container .Intro .section1 .heading p {
  margin-top: 4%;
  font-size: 1rem;
  text-align: justify;
}

.Home-Container .Intro .section2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
}

.Home-Container .Intro .section2 .img-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Home-Container .Intro .section2 .img-box img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .Home-Container .Home-Section {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Home-Container .Home-Section .section1 {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .Home-Container .Home-Section .section1 .heading h1 {
    overflow-y: hidden;
  }
  .Home-Container .Home-Section .section2 {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .Home-Container .Home-Section .section2 .img-box {
    width: 100%;
    height: 100%;
  }
  .Home-Container .Home-Section .section2 .img-box img {
    width: 100%;
    height: 100%;
  }
  .Home-Container .Home-Section .section3 {
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .Home-Container .Intro {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Home-Container .Intro .section1 {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Home-Container .Intro .section1 .heading h1, .Home-Container .Intro .section1 .heading h3 {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #464545;
  }
  .Home-Container .Intro .section1 .heading p {
    margin-top: 4%;
    font-size: 1rem;
    text-align: left;
  }
  .Home-Container .Intro .section2 {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2%;
  }
  .Home-Container .Intro .section2 .img-box {
    width: 380px;
    height: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Home-Container .Intro .section2 .img-box img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1441px) {
  .Home-Container .Home-Section {
    min-height: 90vh;
  }
  .Home-Container .Home-Section .section1 .heading h1, .Home-Container .Home-Section .section1 .heading h3 {
    font-size: 2.5rem;
  }
  .Home-Container .Home-Section .section1 .heading p {
    font-size: 1.2rem;
  }
  .Home-Container .Home-Section .section1 .heading button {
    font-size: 1.2rem;
  }
  .Home-Container .Home-Section .section2 {
    width: 55%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0%;
  }
  .Home-Container .Home-Section .section2 .img-box {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Home-Container .Home-Section .section2 .img-box img {
    width: 100%;
    height: 100%;
  }
  .Home-Container .Home-Section .section3 {
    width: 5%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .Home-Container .Home-Section .section3 span {
    width: 100%;
    padding: 0.4rem;
    margin-top: 4rem;
    text-align: center;
  }
  .Home-Container .Home-Section .section3 span a {
    color: #464545;
  }
  .Home-Container .Home-Section .section3 span a:hover i {
    color: #3685c3;
  }
  .Home-Container .Home-Section .section3 span a i {
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    font-size: 2.5rem;
  }
  .Home-Container .Intro .section1 .heading h1, .Home-Container .Intro .section1 .heading h3 {
    font-size: 2.5rem;
  }
  .Home-Container .Intro .section1 .heading p {
    margin-top: 4%;
    font-size: 1.2rem;
  }
  .Home-Container .Intro .section2 .img-box {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=HomePage.css.map */